:root {
    --color-background: #F0F0F7;
    --color-primary: #45108A;
    --color-primary-light: #6f27ce;
    --color-primary-dark: #330c66;
    --color-gray: #888888;
    --color-dark: #343a40;
    --color-dark-hover: black;
    --color-text: white;
    --color-primary-lighter: #9871F5;
    --color-primary-darker: #6842C2;
    --color-footer: rgb(29, 29, 29);
    --color-text-white: #fff;
    --color-warning: #ffc107;
    --color-warning-dark: #ce9a00;
    --color-success: #28a745;
    --color-success-dark: #1e7e35;
    --background-white: #fff;
    
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    
    font-size: 60%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-background);
    font-family: 'Poppins', sans-serif;
}

/*Float Label*/
.label-float {
    position: relative;
    padding-top: 13px;
}

.label-float input {
    border: 0px solid transparent;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    outline: none;
    border-bottom: 1px solid;
    border-radius: 0;
    padding: 8px 5px;
    font-size: 16px;
    margin-top: 10px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
    background-color: transparent;
}

.label-float input:focus {
    border: 2px solid #3951b2;
    padding: 8px;
}

.label-float input::placeholder {
    color: transparent;
}

.label-float label {
    font: 400 14px 'Poppins', sans-serif;
    pointer-events: none;
    position: absolute;
    top: calc(40% - 8px);
    left: 0px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    padding: 4px;
    box-sizing: content-box;
    color: #6c757d;
}

.label-float input:required:invalid+label {
    color: #6c757d;
}

.label-float input:focus:required:invalid {
    border: 1px solid rgb(255, 85, 85);
}

.label-float input:required:invalid+label:before {
    color: #6c757d;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 13px;
    top: -10px;
    border-color: red;
    background-color: transparent;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn-primary {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
  }

  .btn-warning {
    color: #fff;
    background-color: var(--color-warning);
    border-color: var(--color-warning);
  }
  
  .btn-warning:hover {
    color: #fff;
    background-color: var(--color-warning-dark);
    border-color: var(--color-warning-dark);
  }

  .btn-success {
    color: #fff;
    background-color: var(--color-success);
    border-color: var(--color-success);
  }
  
  .btn-success:hover {
    color: #fff;
    background-color: var(--color-success-dark);
    border-color: var(--color-success-dark);
  }